*{margin: 0;
    padding: 0;

}
body{
    background-color: rgb(247, 244, 242);
    text-align: center;
}
small{
    color: #050505;
    font-size: 18px;
    font-weight: bold;

}
.container{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
img{
    width: 20%;
    float: right;
    margin-top: 18px;
}
label{
    display: block;
    font-size: 20px;
    text-align: center;
}
input[type=text]{
    font-size: 18px;
    padding: 7px;
    width: 50%;
    margin-top: 12px;

}
input[type=email]{
    font-size: 18px;
    padding: 7px;
    width: 50%;
    margin-top: 12px;
}

input[type=tel]{
    font-size: 18px;
    padding: 7px;
    width: 50%;
    margin-top: 12px;
}

button{
    background:green;
    color: #fff;
    width: 50%;
    border: none;
    font-size: 2em;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
}
table {
    border-collapse:collapse;
    width:40%;
    text-align: right ;
    margin-left:30%;
    margin-top:35px;
    border:2px solid black;
   

}

th, td{
    text-align:left;
    padding:8px;
}
tr:nth-child(even){
    background:rgb(238, 238, 240);
}
th{
    background:rgb(42, 44, 165);
    color:#fff;
}

.go-home{
    background:rgb(42, 44, 165);
}


